.video {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 432px; /* высота блока здесь нужна, чтобы реализовать "наплыв" серого бэкграунд фона на блок с видео(на этом моменте дополнительно акцентируется внимание в макете), без высоты не очень понимаю как это реализовать */
}
