.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer__column-link:hover{
  cursor: pointer;
  transition: .5s;
  opacity: 0.5;
}
